@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tw-animate-css";

:root {
	--radius: 0.5rem;
}

html,
body,
#__next {
	height: 100%;
}

body {
	@apply bg-white text-slate-900 antialiased;
}