@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small defaults to make the demo look OK */
html,
body,
#__next {
	height: 100%;
}

body {
	@apply bg-white text-slate-900;
	margin: 0;
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}